@media (min-width: 1024px) {
  :root {
    --width: 100%;
    --max-width: 85%;
    --font-size-h2: 2.2em;
    /* declaramos las variables */
  }

  /* Section Header */
  .gr-main-header {
    flex-direction: row;
  }

  .gr-main-header .field--name-field-tipbloq-head-bloq-logo {
    width: 16%;
  }

  .gr-header-redes {
    align-items: center;
    margin-top: 0;
  }

  .gr-info-header {
    align-items: end;
    flex: 1;
    justify-content: end;
    gap: 10px;
  }

  .gr-hd-contacts {
    display: flex;
    justify-content: end;
    gap: 20px;
  }

  .field--name-field-tipbloq-head-bq-hdmn {
    display: block;
  }

  .field--name-field-tipbloq-hmn-link {
    display: flex;
  }

  .field--name-field-tipbloq-hmn-link .field__item>a {
    display: flex;
    gap: 5px;
    color: var(--color-text);
    font-weight: bold;
    font-size: 13px;
    font-style: italic;
  }

  .field--name-field-tipbloq-hmn-link>.field__item {
    padding-left: 5px;
  }

  .field--name-field-tipbloq-hmn-link>.field__item:not(:last-child) {
    border-right: 2px solid var(--color-text);
    padding-right: 5px;
  }

  .field--name-field-tipbloq-hmn-link svg {
    width: 1.2em;
    height: 1.2em;
  }

  .gr-info-header .field--name-field-tipbloq-head-link-contact {
    width: auto;
  }

  .field--name-field-tipbloq-head-link-contact .field__item:last-child .link-field-label {
    display: block;
  }

  .field--name-field-tipbloq-head-link-contact .field__item a {
    font-size: 14px;
  }

  /* ./Section Header */
  /* == Section Slider == */
  .slider__gr-content {
    width: var(--width);
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .slider__gr-content .container-aux {
    width: 50%;
    margin-left: auto;
    padding: 0;
  }


  .slider__gr-content h1 {
    font-size: 3.5rem;
  }

  .slider__gr-content .field--name-field-tipbloq-sldh-body {
    font-size: medium;
  }

  .slider__gr-content .field--name-field-tipbloq-sldh-links {
    gap: 20px;
  }

  .slider__gr-content .field--name-field-tipbloq-sldh-links .field__item {
    flex: 1;
  }

  .slider__gr-content .field--name-field-tipbloq-sldh-links a {
    width: 100%;
  }

  /* == ./Section Slider == */
  /* Section sakura expeditions */
  .gr-abt-home .field--name-field-tipbloq-abt-gallery .field__item:not(:first-child) {
    display: block;
  }

  .gr-abt-home .media-image-only,
  .gr-abt-home .field--type-image {
    height: 100%;
    width: 100%;
  }


  .gr-abt-home .field--name-field-tipbloq-abt-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .gr-abt-home .field--name-field-tipbloq-abt-gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .gr-abt-home .field--name-field-tipbloq-abt-gallery>.field__item:first-child {
    grid-row: span 2;
  }

  .gr-abt-home {
    flex-direction: row;
    gap: 20px;
    align-items: start;
  }

  .gr-abt-home .field--name-field-tipbloq-abt-body {
    font-size: medium;
  }

  .gr-abt-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  /* ./Section sakura expeditions */
  /* == Inca trail to machu picchu == */
  .view-vista-tour-cam-inca>.view-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .gr-inctrail-main .field--name-field-tip-bloq-caminc-title h2 {
    font-size: var(--font-size-h2);
  }

  .gr-inctrail-main .field--name-field-tip-bloq-caminc-body {
    font-size: medium;
    margin-top: 20px;
  }

  /* == ./Inca trail to machu picchu == */
  /* == The best Inca Trail Machu Picchu == */
  .gr-bestmachu-main .field--name-field-tipbloq-bestmhm-title h2 {
    font-size: var(--font-size-h2);
  }

  .gr-bestmachu-main .field--name-field-tipbloq-bestmhm-body {
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .view-vista-tourh-best-inca>.view-content {
    grid-template-columns: 1fr 40%;
    grid-auto-rows: 280px;
  }

  .view-vista-tourh-best-inca>.view-content>.views-row:first-child {
    grid-row: span 2;
  }

  .view-vista-tourh-best-inca>.view-content>.views-row {
    height: 100%;
  }

  /* == ./The best Inca Trail Machu Picchu == */
  /* == Salkantay Trekking == */
  .gr-salka-main .field--name-field-tipbloq-salktr-title h2 {
    font-size: var(--font-size-h2);
  }

  .gr-salka-main .field--name-field-tipbloq-salktr-body {
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .view-vista-tourh-salka-trek>.view-content {
    grid-template-columns: repeat(3, 1fr);
  }

  /* == ./Salkantay Trekking == */
  /* == Lasted Blogs == */
  .view-vista-list-blog-hm>.view-content {
    grid-template-columns: repeat(3, 1fr);
  }

  /* == ./Lasted Blogs == */
  /* == Tours Machu Picchu Machu Picchu by Train ==  */
  .gr-machu-content {
    width: var(--width);
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 5% 20px;
  }

  .gr-machu-content .container-aux {
    width: 50%;
    margin-left: auto;
  }

  .gr-machu-content .field--name-field-tipbloq-sld-machh-title {
    text-align: start;
  }

  .gr-machu-content .field--name-field-tipbloq-sld-machh-title h2 {
    font-size: 2.5em;
  }

  .gr-machu-content .field--name-field-tipbloq-sld-machh-body {
    text-align: start;
    font-size: medium;
  }

  .gr-machu-content .field--name-field-tipbloq-sld-machh-aditi {
    display: flex;
    gap: 10px;
  }

  .gr-machu-content .field--name-field-tipbloq-sld-machh-links {
    flex-direction: row;
    align-items: center;
  }

  /* == ./tours Machu Picchu Machu Picchu by Train == */
  /* == Trust & Security  == */
  .gr-slider-trust .gr-slider-content {
    width: var(--width);
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .gr-slider-trust .field--name-field-tipbloq-sld-trust-parg-tru {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    margin-top: 30px;
  }

  .paragraph--type--tip-parag-sld-trust .field--name-field-tipparg-sld-tru-icon {
    width: 65px;
    height: 65px;
  }

  .paragraph--type--tip-parag-sld-trust .field--name-field-tipparg-sld-tru-icon svg {
    width: 35px;
    height: 35px;
  }

  .gr-slider-trust .field--name-field-tipbloq-sld-trust-title h2 {
    font-size: 3em;
  }

  .paragraph--type--tip-parag-sld-trust .field--name-field-tipparg-sld-tru-title h3 {
    font-size: 1.1em;
  }

  .paragraph--type--tip-parag-sld-trust .field--name-field-tipparg-sld-tru-body {
    font-size: medium;
  }

  .gr-slider-trust .field--name-field-tipbloq-sld-trust-body {
    font-size: medium;
    margin-bottom: 30px;
  }

  /* == ./Trust & Security  == */
  /* == Latest recommended articles  == */
  .gr-bloghm-main .field--name-field-tipbloq-bloghm-title h2 {
    font-size: var(--font-size-h2);
  }

  .gr-bloghm-main .field--name-field-tipbloq-bloghm-body {
    font-size: medium;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  /* == ./Latest recommended articles   == */
  /* == Certifications  == */
  .gr-cert-main .field--name-field-tipbloq-cert-imgs {
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
  }

  /* == ./Certifications  == */
  /* Footer */
  .gr-footer-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
    gap: 50px;
  }

  .gr-footer-blocks .field--name-field-tipbloq-ftsaku-title h2 {
    font-size: 18px;
  }

  .gr-footer-blocks .field--name-field-tipbloq-ftsaku-values .field__item {
    margin-bottom: 5px;
  }

  .gr-footer-blocks .field--name-field-tipbloq-ftsaku-values a {
    font-size: medium;
  }

  .gr-footer-blocks .field--name-field-tipbloq-ftconts-title h2 {
    font-size: 18px;
  }

  .gr-footer-blocks .field--name-field-tipbloq-ftconts-values a {
    font-size: medium;
  }

  .gr-footer-blocks .field--name-field-tipbloq-ftconts-values .field__item {
    margin-bottom: 5px;
  }

  .gr-footer-blocks .field--name-field-tipbloq-desti-title h2 {
    font-size: 18px;
  }

  /* ./Footer */
  /* == PAGINA BLOG == */
  .view-vista-tax-blog-slider .gr-taxblog-content {
    padding: 8% 0;
  }

  .view-vista-tax-blog-slider .field-tax-body {
    font-size: medium;
  }

  .view-vista-tax-list-blog .field-blog-title a {
    font-size: 18px;

    &:hover {
      color: var(--color-brand);
    }
  }

  .view-vista-tax-list-blog .field-blog-introduction {
    font-size: medium;
  }

  .view-vista-tax-list-blog .gr-blog-content {
    display: flex;
    flex-direction: column;
    font-size: medium;
  }

  .view-vista-tax-list-blog>.view-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 225px;
  }

  .view-vista-tax-list-blog .gr-authored-info {
    margin-top: auto;
  }

  .view-vista-tax-blog-slider .gr-sld-aux {
    width: 45%;
  }

  /* == ./PAGINA BLOG == */
  /* == PAGINA SINGLE BLOG == */
  .view-vista-slider-blog .slider__content {
    padding: 8% 0;
  }

  .view-vista-slider-blog .slider__content-aux {
    width: 45%;
  }

  .view-vista-slider-blog .field-title h1 {
    font-size: 2.2em;
  }

  .view-vista-slider-blog .field-authored {
    font-size: 14px;
  }

  .page-node-type-page-blog .ct-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: start;
    gap: 30px;
  }

  .toc-js-container {
    margin-top: 30px;
  }

  /* == ./PAGINA SINGLE BLOG == */
  /* == PAGINA TOUR == */
  @scope (.page-node-type-package-tour) {
    .ct-main {
      display: grid;
      grid-template-columns: 1fr 30%;
      gap: 30px;
    }
  }

  .view-vista-slider-tour .gallery-grid {
    --gap: 10px;
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-template-rows: repeat(3, 200px);
    gap: var(--gap);
    padding-left: var(--gap);
    padding-right: var(--gap);
    padding-top: var(--gap);
    max-width: 85%;
    margin: 0 auto;
  }

  .view-vista-slider-tour .gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .view-vista-slider-tour .gallery-grid a {
    display: block;
  }

  .view-vista-slider-tour .gallery-grid a:first-child {
    grid-row: span 3 / span 3;
  }

  /* == END PAGINA TOUR == */
}